# Deployment used by `npx convex dev`
CONVEX_DEPLOY_KEY=
CONVEX_DEPLOYMENT=anonymous:anonymous-next-convex-betterauth
NEXT_PUBLIC_CONVEX_URL=http://127.0.0.1:3210
NEXT_PUBLIC_CONVEX_SITE_URL=http://127.0.0.1:3211

SITE_URL=http://localhost:3000
NEXT_PUBLIC_SITE_URL=http://localhost:3000
